/* base16 Atelier Lakeside */

$base00: #161b1d; 
$base01: #1f292e; 
$base02: #516d7b; 
$base03: #5a7b8c; 
$base04: #7195a8; 
$base05: #7ea2b4; 
$base06: #c1e4f6; 
$base07: #ebf8ff; 
$base08: #d22d72; 
$base09: #935c25; 
$base0A: #8a8a0f; 
$base0B: #568c3b; 
$base0C: #2d8f6f; 
$base0D: #257fad; 
$base0E: #6b6bb8; 
$base0F: #b72dd2; 

$baseColor: $base07;
$textColor: $base01;
$highlight: $base0B;
$secondary: $base0D;

h1, h2, h3, h4, h5, h6 { 
    font-family: "Source Serif Pro";
}
pre {
    font-family: "Source Code Pro";
}
body {
    font-family: "Source Sans Pro";
    background-color: $baseColor;
    color: $textColor;
}
a {
    color: $base09;
    &:visited { colort: $secondary; }
    &:hover { color: $highlight; }
}
.container {
    margin: 0 auto;
    padding: 0px 2em;
    max-width: 56em;
    font-size: 1.2em;
}
header {
    h1 { 
        color: $highlight;
        margin: .2em 0;
        border-bottom: .1em solid $highlight;
    }
    h2 {
        color: $secondary;
        margin-bottom: .05em;
    }
}

footer {
    border-top: .1em solid $highlight;
    margin-bottom: 1.5em;
}

time, .author {
    display: inline-block;
}

.menu {
    ul {
        padding: 0;
        margin: .3em 0;
    }

    li {
        display: inline;
        padding: 0 .2em 0 0;

        a { 
            color: $highlight;
            padding:.13em;
            text-decoration: none;
            &:visited { color: $highlight; }
            &:hover { text-decoration: none; color: $textColor; background-color: $secondary; border-radius: .2em; }
        }
    }
}

